<%= form_with(model: stock_item, class: "contents") do |form| %>
  <% if stock_item.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(stock_item.errors.count, "error") %> prohibited this stock_item from being saved:</h2>

      <ul class="list-disc ml-6">
        <% stock_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :product_id %>
    <%= form.text_field :product_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": stock_item.errors[:product_id].none?, "border-red-400 focus:outline-red-600": stock_item.errors[:product_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :warehouse_id %>
    <%= form.text_field :warehouse_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": stock_item.errors[:warehouse_id].none?, "border-red-400 focus:outline-red-600": stock_item.errors[:warehouse_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :on_hand %>
    <%= form.number_field :on_hand, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": stock_item.errors[:on_hand].none?, "border-red-400 focus:outline-red-600": stock_item.errors[:on_hand].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :reserved %>
    <%= form.number_field :reserved, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": stock_item.errors[:reserved].none?, "border-red-400 focus:outline-red-600": stock_item.errors[:reserved].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
